In [1]:
import pandas as pd
import requests

C:\Users\Brian\Anaconda3\lib\site-packages\numpy\core\__init__.py:29: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Brian\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.BNVRK7633HSX7YVO2TADGR4A5KEKXJAW.gfortran-win_amd64.dll
C:\Users\Brian\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
def neighborhood_from_coordinates(lon, lat):
    mapbox_key = "pk.eyJ1IjoibXBlcmV6MDIwNyIsImEiOiJjanZlZTJnOTMwbmltNDRwbDBjajdsNG84In0.kd-GVttMUZcdM3rFc6GJjg"
    mapbox_url = "https://api.mapbox.com/geocoding/v5/mapbox.places/" + str(lon) + "," + str(lat) + ".json";
    mapbox_params = {"access_token":mapbox_key, "types":"neighborhood"}
    
    response = requests.get(mapbox_url, params=mapbox_params).json()
    
    try:
        neighborhood = response["features"][0]["text"].lower().title()
        borough = response["features"][0]["context"][0]["text"].lower().title()
        
    except IndexError:
        features = response["features"]
        
        if len(features) != 0:
            print(features)
            
        neighborhood = ""
        borough = ""
    
    return neighborhood, borough

In [3]:
laundry_df = pd.read_csv("nyc_laundry.csv")
laundry_df.head()

                                 Business Name  Longitude   Latitude
0                                351 1/2 CORP. -77.519584  40.112385
1                                 RAMOS, PEDRO -77.519584  40.112385
2                     CURASAO LAUNDROMAT, INC. -77.519584  40.112385
3  CLEAN RITE CENTER - 370-376 LENOX AVE., LLC -77.519584  40.112385
4                        9-11 LAUNDROMAT, INC. -77.519584  40.112385

In [4]:
laundry_df = laundry_df.drop_duplicates(["Longitude", "Latitude"])
laundry_df.head()

                 Business Name  Longitude   Latitude
0                351 1/2 CORP. -77.519584  40.112385
8   FOURTEEN TOWER CORPORATION -74.017656  40.708037
9        COUTURE CLEANERS, LLC -74.008501  40.733866
10     SHI, CINDY CHEUN SHEUNG -74.007256  40.735667
11   HUDSON KIM CLEANERS, INC. -74.006632  40.731558

In [5]:
unpackdf=pd.DataFrame(laundry_df.apply(lambda x : neighborhood_from_coordinates(x["Longitude"],x["Latitude"]),axis=1).tolist(),
                      columns=["Neighborhood", "Borough"],index=laundry_df.index)
laundry_df = pd.concat([laundry_df, unpackdf],axis=1)

laundry_df.head()

                 Business Name  Longitude   Latitude  Neighborhood    Borough
0                351 1/2 CORP. -77.519584  40.112385
8   FOURTEEN TOWER CORPORATION -74.017656  40.708037  Battery Park  Manhattan
9        COUTURE CLEANERS, LLC -74.008501  40.733866  West Village  Manhattan
10     SHI, CINDY CHEUN SHEUNG -74.007256  40.735667  West Village  Manhattan
11   HUDSON KIM CLEANERS, INC. -74.006632  40.731558  West Village  Manhattan

In [6]:
laundry_df = laundry_df[laundry_df["Borough"] != ""] # drop rows with empty neighborhood/borough

laundry_counts = laundry_df["Neighborhood"].value_counts()
laundry_counts.name = "Laundromats"
neighborhoods_df = pd.DataFrame(laundry_counts)
neighborhoods_df.index.name = "Neighborhood"
neighborhoods_df.head()

                    Laundromats
Neighborhood
Upper East Side              71
Washington Heights           53
East Harlem                  48
Upper West Side              46
Harlem                       38

In [7]:
garage_df = pd.read_csv("nyc_garages.csv")
garage_df.head()

                            Business Name  Longitude   Latitude
0           PARKANLEX GARAGE COMPANY, LLC -73.961625  40.772737
1  LAZ PARKING NEW YORK / NEW JERSEY, LLC -73.959207  40.759383
2    919 THIRD AVENUE GARAGE COMPANY, LLC -73.968333  40.759136
3                    EASTSIDE PARKING LLC -73.961812  40.755805
4                    EAST 72ND REALTY LLC -73.953430  40.767308

In [8]:
garage_df = garage_df.drop_duplicates(["Longitude", "Latitude"])
garage_df.head()

                            Business Name  Longitude   Latitude
0           PARKANLEX GARAGE COMPANY, LLC -73.961625  40.772737
1  LAZ PARKING NEW YORK / NEW JERSEY, LLC -73.959207  40.759383
2    919 THIRD AVENUE GARAGE COMPANY, LLC -73.968333  40.759136
3                    EASTSIDE PARKING LLC -73.961812  40.755805
4                    EAST 72ND REALTY LLC -73.953430  40.767308

In [9]:
unpackdf=pd.DataFrame(garage_df.apply(lambda x : neighborhood_from_coordinates(x["Longitude"],x["Latitude"]),axis=1).tolist(),
                      columns=["Neighborhood", "Borough"],index=garage_df.index)
garage_df = pd.concat([garage_df, unpackdf],axis=1)

garage_df.head()

,Business Name,Longitude,Latitude,Neighborhood,Borough
0,"PARKANLEX GARAGE COMPANY, LLC",-73.961625,40.772737,Upper East Side,Manhattan
1,"LAZ PARKING NEW YORK / NEW JERSEY, LLC",-73.959207,40.759383,Upper East Side,Manhattan
2,"919 THIRD AVENUE GARAGE COMPANY, LLC",-73.968333,40.759136,Sutton Place,Manhattan
3,EASTSIDE PARKING LLC,-73.961812,40.755805,Sutton Place,Manhattan
4,EAST 72ND REALTY LLC,-73.953430,40.767308,Upper East Side,Manhattan

In [10]:
garage_df = garage_df.dropna() # drop rows with NaN longitude/latitude
garage_df = garage_df[garage_df["Borough"] != ""] # drop rows with empty neighborhood/borough

In [11]:
garage_counts = garage_df["Neighborhood"].value_counts()
garage_counts.name = "Garages"

neighborhoods_df = pd.concat([neighborhoods_df, garage_counts], axis=1)
neighborhoods_df

C:\Users\Brian\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

                     Laundromats  Garages
Battery Park                 1.0       22
Carnegie Hill                1.0        9
Central Park                 NaN        9
Chelsea                     17.0       49
Chinatown                    5.0        7
Clinton                      7.0       41
Columbus Circle              6.0       26
East Harlem                 48.0       28
East Village                36.0        8
Financial District           NaN       38
Flatiron District            8.0       34
Garment District             1.0       21
Gramercy                    24.0       57
Greenwich Village           10.0       36
Hamilton Heights            14.0        2
Harlem                      38.0       32
Inwood                      11.0       11
Little Italy                 8.0        6
Lower East Side             29.0        7
Manhattanville               3.0        5
Midtown                      1.0       87
Morningside Heights          3.0        7
Murray Hill                  NaN       16
Noho                         1.0        6
Roosevelt Island             1.0        3
Soho                         3.0        6
Stuyvesant Town              4.0        8
Sutton Place                 2.0       38
Tribeca                      1.0       27
Tudor City                   5.0       23
Turtle Bay                   5.0       38
Upper East Side             71.0      262
Upper West Side             46.0      118
Washington Heights          53.0       26
West Village                13.0       21

In [12]:
neighborhoods_df = neighborhoods_df.fillna(0) # replace NaNs with 0s
neighborhoods_df = neighborhoods_df.astype(int) # drop decimals
neighborhoods_df

                     Laundromats  Garages
Battery Park                   1       22
Carnegie Hill                  1        9
Central Park                   0        9
Chelsea                       17       49
Chinatown                      5        7
Clinton                        7       41
Columbus Circle                6       26
East Harlem                   48       28
East Village                  36        8
Financial District             0       38
Flatiron District              8       34
Garment District               1       21
Gramercy                      24       57
Greenwich Village             10       36
Hamilton Heights              14        2
Harlem                        38       32
Inwood                        11       11
Little Italy                   8        6
Lower East Side               29        7
Manhattanville                 3        5
Midtown                        1       87
Morningside Heights            3        7
Murray Hill                    0       16
Noho                           1        6
Roosevelt Island               1        3
Soho                           3        6
Stuyvesant Town                4        8
Sutton Place                   2       38
Tribeca                        1       27
Tudor City                     5       23
Turtle Bay                     5       38
Upper East Side               71      262
Upper West Side               46      118
Washington Heights            53       26
West Village                  13       21

In [13]:
citi_bike_df = pd.read_csv("citi_bike_stations.csv")
citi_bike_df.head()

                         stationName  Longitude   Latitude  totalDocks
0                    W 18 St & 6 Ave -73.994564  40.739713          47
1  Grand Army Plaza & Central Park S -73.973715  40.764397          66
2                 Broadway & E 14 St -73.990741  40.734546          53
3            3 Ave & Schermerhorn St -73.979677  40.686832          35
4              Broadway & Battery Pl -74.013617  40.704633          33

In [14]:
citi_bike_df = citi_bike_df.drop_duplicates(["Longitude", "Latitude"])
citi_bike_df.head()

                         stationName  Longitude   Latitude  totalDocks
0                    W 18 St & 6 Ave -73.994564  40.739713          47
1  Grand Army Plaza & Central Park S -73.973715  40.764397          66
2                 Broadway & E 14 St -73.990741  40.734546          53
3            3 Ave & Schermerhorn St -73.979677  40.686832          35
4              Broadway & Battery Pl -74.013617  40.704633          33

In [15]:
unpackdf=pd.DataFrame(citi_bike_df.apply(lambda x : neighborhood_from_coordinates(x["Longitude"],x["Latitude"]),axis=1).tolist(),
                      columns=["Neighborhood", "Borough"],index=citi_bike_df.index)
citi_bike_df = pd.concat([citi_bike_df, unpackdf],axis=1)

citi_bike_df.head()

,stationName,Longitude,Latitude,totalDocks,Neighborhood,Borough
0,W 18 St & 6 Ave,-73.994564,40.739713,47,Flatiron District,Manhattan
1,Grand Army Plaza & Central Park S,-73.973715,40.764397,66,Midtown,Manhattan
2,Broadway & E 14 St,-73.990741,40.734546,53,Greenwich Village,Manhattan
3,3 Ave & Schermerhorn St,-73.979677,40.686832,35,Downtown,Brooklyn
4,Broadway & Battery Pl,-74.013617,40.704633,33,Financial District,Manhattan

In [16]:
citi_bike_df = citi_bike_df[citi_bike_df["Borough"] == "Manhattan"]
citi_bike_df["Borough"].value_counts()

Manhattan    404
Name: Borough, dtype: int64

In [17]:
citi_bike_counts = citi_bike_df["Neighborhood"].value_counts()
citi_bike_counts.name = "Citi Bikes"

neighborhoods_df = pd.concat([neighborhoods_df, citi_bike_counts], axis=1)
neighborhoods_df

C:\Users\Brian\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

                     Laundromats  Garages  Citi Bikes
Battery Park                 1.0     22.0         5.0
Carnegie Hill                1.0      9.0         4.0
Central Park                 0.0      9.0        10.0
Chelsea                     17.0     49.0        18.0
Chinatown                    5.0      7.0         4.0
Clinton                      7.0     41.0        13.0
Columbus Circle              6.0     26.0         6.0
East Harlem                 48.0     28.0        36.0
East Village                36.0      8.0        20.0
Financial District           0.0     38.0        18.0
Flatiron District            8.0     34.0        15.0
Garment District             1.0     21.0         9.0
Governors Island             NaN      NaN         2.0
Gramercy                    24.0     57.0        12.0
Greenwich Village           10.0     36.0        16.0
Hamilton Heights            14.0      2.0         NaN
Harlem                      38.0     32.0        15.0
Inwood                      11.0     11.0         NaN
Little Italy                 8.0      6.0         4.0
Lower East Side             29.0      7.0        28.0
Manhattanville               3.0      5.0         1.0
Midtown                      1.0     87.0        17.0
Morningside Heights          3.0      7.0        11.0
Murray Hill                  0.0     16.0         6.0
Noho                         1.0      6.0         3.0
Roosevelt Island             1.0      3.0         NaN
Soho                         3.0      6.0         6.0
Stuyvesant Town              4.0      8.0         5.0
Sutton Place                 2.0     38.0         3.0
Tribeca                      1.0     27.0        15.0
Tudor City                   5.0     23.0         3.0
Turtle Bay                   5.0     38.0         8.0
Upper East Side             71.0    262.0        43.0
Upper West Side             46.0    118.0        39.0
Washington Heights          53.0     26.0         NaN
West Village                13.0     21.0         9.0

In [18]:
neighborhoods_df = neighborhoods_df.fillna(0) # replace NaNs with 0s
neighborhoods_df = neighborhoods_df.astype(int) # drop decimals
neighborhoods_df

                     Laundromats  Garages  Citi Bikes
Battery Park                   1       22           5
Carnegie Hill                  1        9           4
Central Park                   0        9          10
Chelsea                       17       49          18
Chinatown                      5        7           4
Clinton                        7       41          13
Columbus Circle                6       26           6
East Harlem                   48       28          36
East Village                  36        8          20
Financial District             0       38          18
Flatiron District              8       34          15
Garment District               1       21           9
Governors Island               0        0           2
Gramercy                      24       57          12
Greenwich Village             10       36          16
Hamilton Heights              14        2           0
Harlem                        38       32          15
Inwood                        11       11           0
Little Italy                   8        6           4
Lower East Side               29        7          28
Manhattanville                 3        5           1
Midtown                        1       87          17
Morningside Heights            3        7          11
Murray Hill                    0       16           6
Noho                           1        6           3
Roosevelt Island               1        3           0
Soho                           3        6           6
Stuyvesant Town                4        8           5
Sutton Place                   2       38           3
Tribeca                        1       27          15
Tudor City                     5       23           3
Turtle Bay                     5       38           8
Upper East Side               71      262          43
Upper West Side               46      118          39
Washington Heights            53       26           0
West Village                  13       21           9

In [19]:
rent_df = pd.read_csv("rent2br.csv")
rent_df.head()

         Neighborhood Borough    Rent
0  University Heights   Bronx  1652.0
1             Belmont   Bronx  1657.0
2             Norwood   Bronx  1674.0
3         Parkchester   Bronx  1679.0
4        Bedford Park   Bronx  1682.0

In [20]:
rent_df = rent_df[rent_df["Borough"] == "Manhattan"]
rent_df.head()

          Neighborhood    Borough    Rent
61              Inwood  Manhattan  2025.0
62  Washington Heights  Manhattan  2026.0
63    Hamilton Heights  Manhattan  2226.0
64         Marble Hill  Manhattan  2230.0
65         West Harlem  Manhattan  2252.0

In [21]:
rent_df = rent_df.set_index("Neighborhood")
rent_df.head()

                      Borough    Rent
Neighborhood
Inwood              Manhattan  2025.0
Washington Heights  Manhattan  2026.0
Hamilton Heights    Manhattan  2226.0
Marble Hill         Manhattan  2230.0
West Harlem         Manhattan  2252.0

In [22]:
rent = rent_df["Rent"]

neighborhoods_df = pd.concat([neighborhoods_df, rent], axis=1)
neighborhoods_df

C:\Users\Brian\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

                     Laundromats  Garages  Citi Bikes      Rent
Battery Park                 1.0     22.0         5.0       NaN
Battery Park City            NaN      NaN         NaN   6212.00
Carnegie Hill                1.0      9.0         4.0       NaN
Central Harlem               NaN      NaN         NaN   2457.00
Central Park                 0.0      9.0        10.0       NaN
Central Park South           NaN      NaN         NaN  10775.00
Chelsea                     17.0     49.0        18.0   5908.00
Chinatown                    5.0      7.0         4.0   2932.00
Clinton                      7.0     41.0        13.0       NaN
Columbus Circle              6.0     26.0         6.0       NaN
East Harlem                 48.0     28.0        36.0   2369.00
East Village                36.0      8.0        20.0   3408.00
Financial District           0.0     38.0        18.0   5019.00
Flatiron District            8.0     34.0        15.0   6945.00
Garment District             1.0     21.0         9.0       NaN
Governors Island             0.0      0.0         2.0       NaN
Gramercy                    24.0     57.0        12.0       NaN
Gramercy Park                NaN      NaN         NaN   4191.00
Greenwich Village           10.0     36.0        16.0   5461.00
Hamilton Heights            14.0      2.0         0.0   2226.00
Harlem                      38.0     32.0        15.0       NaN
Inwood                      11.0     11.0         0.0   2025.00
Little Italy                 8.0      6.0         4.0   3690.00
Lower East Side             29.0      7.0        28.0   3194.00
Manhattanville               3.0      5.0         1.0   2757.00
Marble Hill                  NaN      NaN         NaN   2230.00
Midtown                      1.0     87.0        17.0   5319.75
Morningside Heights          3.0      7.0        11.0   2883.00
Murray Hill                  0.0     16.0         6.0       NaN
Noho                         1.0      6.0         3.0       NaN
Nolita                       NaN      NaN         NaN   4074.00
Roosevelt Island             1.0      3.0         0.0   3783.00
Soho                         3.0      6.0         6.0   7277.00
Stuyvesant Town              4.0      8.0         5.0       NaN
Stuyvesant Town/PCV          NaN      NaN         NaN   4457.00
Sutton Place                 2.0     38.0         3.0       NaN
Tribeca                      1.0     27.0        15.0   7863.00
Tudor City                   5.0     23.0         3.0       NaN
Turtle Bay                   5.0     38.0         8.0       NaN
Upper East Side             71.0    262.0        43.0   3782.00
Upper West Side             46.0    118.0        39.0   4590.00
Washington Heights          53.0     26.0         0.0   2026.00
West Harlem                  NaN      NaN         NaN   2252.00
West Village                13.0     21.0         9.0   4481.00

In [26]:
neighborhoods_df_bk = neighborhoods_df

In [48]:
neighborhoods_df = neighborhoods_df_bk
neighborhoods_df

                     Laundromats  Garages  Citi Bikes      Rent
Neighborhood
Battery Park                 1.0     22.0         5.0       NaN
Battery Park City            NaN      NaN         NaN   6212.00
Carnegie Hill                1.0      9.0         4.0       NaN
Harlem                       NaN      NaN         NaN   2457.00
Central Park                 0.0      9.0        10.0       NaN
Central Park South           NaN      NaN         NaN  10775.00
Chelsea                     17.0     49.0        18.0   5908.00
Chinatown                    5.0      7.0         4.0   2932.00
Clinton                      7.0     41.0        13.0       NaN
Columbus Circle              6.0     26.0         6.0       NaN
Harlem                      48.0     28.0        36.0   2369.00
East Village                36.0      8.0        20.0   3408.00
Financial District           0.0     38.0        18.0   5019.00
Flatiron District            8.0     34.0        15.0   6945.00
Garment District             1.0     21.0         9.0       NaN
Governors Island             0.0      0.0         2.0       NaN
Gramercy                    24.0     57.0        12.0       NaN
Gramercy Park                NaN      NaN         NaN   4191.00
Greenwich Village           10.0     36.0        16.0   5461.00
Hamilton Heights            14.0      2.0         0.0   2226.00
Harlem                      38.0     32.0        15.0       NaN
Inwood                      11.0     11.0         0.0   2025.00
Little Italy                 8.0      6.0         4.0   3690.00
Lower East Side             29.0      7.0        28.0   3194.00
Manhattanville               3.0      5.0         1.0   2757.00
Marble Hill                  NaN      NaN         NaN   2230.00
Midtown                      1.0     87.0        17.0   5319.75
Morningside Heights          3.0      7.0        11.0   2883.00
Murray Hill                  0.0     16.0         6.0       NaN
Noho                         1.0      6.0         3.0       NaN
Nolita                       NaN      NaN         NaN   4074.00
Roosevelt Island             1.0      3.0         0.0   3783.00
Soho                         3.0      6.0         6.0   7277.00
Stuyvesant Town              4.0      8.0         5.0       NaN
Stuyvesant Town/PCV          NaN      NaN         NaN   4457.00
Sutton Place                 2.0     38.0         3.0       NaN
Tribeca                      1.0     27.0        15.0   7863.00
Tudor City                   5.0     23.0         3.0       NaN
Turtle Bay                   5.0     38.0         8.0       NaN
Upper East Side             71.0    262.0        43.0   3782.00
Upper West Side             46.0    118.0        39.0   4590.00
Washington Heights          53.0     26.0         0.0   2026.00
Harlem                       NaN      NaN         NaN   2252.00
West Village                13.0     21.0         9.0   4481.00

In [49]:
as_list = neighborhoods_df.index.tolist()
idx_pos = as_list.index("Battery Park")
as_list[idx_pos] = 'Battery Park City'
idx_pos = as_list.index("Gramercy Park")
as_list[idx_pos] = 'Gramercy'
idx_pos = as_list.index("Stuyvesant Town/PCV")
as_list[idx_pos] = 'Stuyvesant Town'
idx_pos = as_list.index("West Harlem")
as_list[idx_pos] = 'Harlem'
idx_pos = as_list.index("East Harlem")
as_list[idx_pos] = 'Harlem'
idx_pos = as_list.index("Central Harlem")
as_list[idx_pos] = 'Harlem'
neighborhoods_df.index = as_list

neighborhoods_df

                     Laundromats  Garages  Citi Bikes      Rent
Battery Park City            1.0     22.0         5.0       NaN
Battery Park City            NaN      NaN         NaN   6212.00
Carnegie Hill                1.0      9.0         4.0       NaN
Harlem                       NaN      NaN         NaN   2457.00
Central Park                 0.0      9.0        10.0       NaN
Central Park South           NaN      NaN         NaN  10775.00
Chelsea                     17.0     49.0        18.0   5908.00
Chinatown                    5.0      7.0         4.0   2932.00
Clinton                      7.0     41.0        13.0       NaN
Columbus Circle              6.0     26.0         6.0       NaN
Harlem                      48.0     28.0        36.0   2369.00
East Village                36.0      8.0        20.0   3408.00
Financial District           0.0     38.0        18.0   5019.00
Flatiron District            8.0     34.0        15.0   6945.00
Garment District             1.0     21.0         9.0       NaN
Governors Island             0.0      0.0         2.0       NaN
Gramercy                    24.0     57.0        12.0       NaN
Gramercy                     NaN      NaN         NaN   4191.00
Greenwich Village           10.0     36.0        16.0   5461.00
Hamilton Heights            14.0      2.0         0.0   2226.00
Harlem                      38.0     32.0        15.0       NaN
Inwood                      11.0     11.0         0.0   2025.00
Little Italy                 8.0      6.0         4.0   3690.00
Lower East Side             29.0      7.0        28.0   3194.00
Manhattanville               3.0      5.0         1.0   2757.00
Marble Hill                  NaN      NaN         NaN   2230.00
Midtown                      1.0     87.0        17.0   5319.75
Morningside Heights          3.0      7.0        11.0   2883.00
Murray Hill                  0.0     16.0         6.0       NaN
Noho                         1.0      6.0         3.0       NaN
Nolita                       NaN      NaN         NaN   4074.00
Roosevelt Island             1.0      3.0         0.0   3783.00
Soho                         3.0      6.0         6.0   7277.00
Stuyvesant Town              4.0      8.0         5.0       NaN
Stuyvesant Town              NaN      NaN         NaN   4457.00
Sutton Place                 2.0     38.0         3.0       NaN
Tribeca                      1.0     27.0        15.0   7863.00
Tudor City                   5.0     23.0         3.0       NaN
Turtle Bay                   5.0     38.0         8.0       NaN
Upper East Side             71.0    262.0        43.0   3782.00
Upper West Side             46.0    118.0        39.0   4590.00
Washington Heights          53.0     26.0         0.0   2026.00
Harlem                       NaN      NaN         NaN   2252.00
West Village                13.0     21.0         9.0   4481.00

In [51]:
neighborhoods_df.index.name = "Neighborhood"
neighborhoods_df = neighborhoods_df.groupby("Neighborhood").mean()
neighborhoods_df

                     Laundromats  Garages  Citi Bikes          Rent
Neighborhood
Battery Park City            1.0     22.0         5.0   6212.000000
Carnegie Hill                1.0      9.0         4.0           NaN
Central Park                 0.0      9.0        10.0           NaN
Central Park South           NaN      NaN         NaN  10775.000000
Chelsea                     17.0     49.0        18.0   5908.000000
Chinatown                    5.0      7.0         4.0   2932.000000
Clinton                      7.0     41.0        13.0           NaN
Columbus Circle              6.0     26.0         6.0           NaN
East Village                36.0      8.0        20.0   3408.000000
Financial District           0.0     38.0        18.0   5019.000000
Flatiron District            8.0     34.0        15.0   6945.000000
Garment District             1.0     21.0         9.0           NaN
Governors Island             0.0      0.0         2.0           NaN
Gramercy                    24.0     57.0        12.0   4191.000000
Greenwich Village           10.0     36.0        16.0   5461.000000
Hamilton Heights            14.0      2.0         0.0   2226.000000
Harlem                      43.0     30.0        25.5   2359.333333
Inwood                      11.0     11.0         0.0   2025.000000
Little Italy                 8.0      6.0         4.0   3690.000000
Lower East Side             29.0      7.0        28.0   3194.000000
Manhattanville               3.0      5.0         1.0   2757.000000
Marble Hill                  NaN      NaN         NaN   2230.000000
Midtown                      1.0     87.0        17.0   5319.750000
Morningside Heights          3.0      7.0        11.0   2883.000000
Murray Hill                  0.0     16.0         6.0           NaN
Noho                         1.0      6.0         3.0           NaN
Nolita                       NaN      NaN         NaN   4074.000000
Roosevelt Island             1.0      3.0         0.0   3783.000000
Soho                         3.0      6.0         6.0   7277.000000
Stuyvesant Town              4.0      8.0         5.0   4457.000000
Sutton Place                 2.0     38.0         3.0           NaN
Tribeca                      1.0     27.0        15.0   7863.000000
Tudor City                   5.0     23.0         3.0           NaN
Turtle Bay                   5.0     38.0         8.0           NaN
Upper East Side             71.0    262.0        43.0   3782.000000
Upper West Side             46.0    118.0        39.0   4590.000000
Washington Heights          53.0     26.0         0.0   2026.000000
West Village                13.0     21.0         9.0   4481.000000

In [55]:
neighborhoods_df = neighborhoods_df.dropna().astype(int)
neighborhoods_df

                     Laundromats  Garages  Citi Bikes  Rent
Neighborhood
Battery Park City              1       22           5  6212
Chelsea                       17       49          18  5908
Chinatown                      5        7           4  2932
East Village                  36        8          20  3408
Financial District             0       38          18  5019
Flatiron District              8       34          15  6945
Gramercy                      24       57          12  4191
Greenwich Village             10       36          16  5461
Hamilton Heights              14        2           0  2226
Harlem                        43       30          25  2359
Inwood                        11       11           0  2025
Little Italy                   8        6           4  3690
Lower East Side               29        7          28  3194
Manhattanville                 3        5           1  2757
Midtown                        1       87          17  5319
Morningside Heights            3        7          11  2883
Roosevelt Island               1        3           0  3783
Soho                           3        6           6  7277
Stuyvesant Town                4        8           5  4457
Tribeca                        1       27          15  7863
Upper East Side               71      262          43  3782
Upper West Side               46      118          39  4590
Washington Heights            53       26           0  2026
West Village                  13       21           9  4481

In [57]:
neighborhoods_df_bk = neighborhoods_df

In [60]:
def define_rent_categories(rent):
    rent_category = "Low Rent"
    if rent > 6000:
        rent_category = "High Rent"
    elif rent > 4000:
        rent_category = "Medium Rent"
        
    return rent_category

In [62]:
neighborhoods_df["Rent Category"] = neighborhoods_df.apply(lambda x: define_rent_categories(x["Rent"]), axis=1)

In [63]:
neighborhoods_df

                     Laundromats  Garages  Citi Bikes  Rent Rent Category
Neighborhood
Battery Park City              1       22           5  6212     High Rent
Chelsea                       17       49          18  5908   Medium Rent
Chinatown                      5        7           4  2932      Low Rent
East Village                  36        8          20  3408      Low Rent
Financial District             0       38          18  5019   Medium Rent
Flatiron District              8       34          15  6945     High Rent
Gramercy                      24       57          12  4191   Medium Rent
Greenwich Village             10       36          16  5461   Medium Rent
Hamilton Heights              14        2           0  2226      Low Rent
Harlem                        43       30          25  2359      Low Rent
Inwood                        11       11           0  2025      Low Rent
Little Italy                   8        6           4  3690      Low Rent
Lower East Side               29        7          28  3194      Low Rent
Manhattanville                 3        5           1  2757      Low Rent
Midtown                        1       87          17  5319   Medium Rent
Morningside Heights            3        7          11  2883      Low Rent
Roosevelt Island               1        3           0  3783      Low Rent
Soho                           3        6           6  7277     High Rent
Stuyvesant Town                4        8           5  4457   Medium Rent
Tribeca                        1       27          15  7863     High Rent
Upper East Side               71      262          43  3782      Low Rent
Upper West Side               46      118          39  4590   Medium Rent
Washington Heights            53       26           0  2026      Low Rent
West Village                  13       21           9  4481   Medium Rent

In [67]:
neighborhoods_df = neighborhoods_df.drop("Rent", axis=1)
neighborhoods_df

                     Laundromats  Garages  Citi Bikes Rent Category
Neighborhood
Battery Park City              1       22           5     High Rent
Chelsea                       17       49          18   Medium Rent
Chinatown                      5        7           4      Low Rent
East Village                  36        8          20      Low Rent
Financial District             0       38          18   Medium Rent
Flatiron District              8       34          15     High Rent
Gramercy                      24       57          12   Medium Rent
Greenwich Village             10       36          16   Medium Rent
Hamilton Heights              14        2           0      Low Rent
Harlem                        43       30          25      Low Rent
Inwood                        11       11           0      Low Rent
Little Italy                   8        6           4      Low Rent
Lower East Side               29        7          28      Low Rent
Manhattanville                 3        5           1      Low Rent
Midtown                        1       87          17   Medium Rent
Morningside Heights            3        7          11      Low Rent
Roosevelt Island               1        3           0      Low Rent
Soho                           3        6           6     High Rent
Stuyvesant Town                4        8           5   Medium Rent
Tribeca                        1       27          15     High Rent
Upper East Side               71      262          43      Low Rent
Upper West Side               46      118          39   Medium Rent
Washington Heights            53       26           0      Low Rent
West Village                  13       21           9   Medium Rent

In [68]:
neighborhoods_df.to_csv("final_dataset.csv")